{% extends "base.html" %}

{% block title %}
<title>Leave Form</title>
{% endblock title %}
{% block body %}
<table class="table table-bordered mt-5">
    <thead>

        <tr class=" table-secondary">
            <th scope="col">#</th>


            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            
            <th scope="row">{{forloop.counter}}</th>
            <td>{{request.user}}</td>
            <td></td>
            <td><button>Action</button></td>


        </tr>
        

    </tbody>
</table>
<p>{{request.user}}</p>
{% endblock body %}