{% extends "base.html" %}
{% block body %}
<div class="row">
    {% for i in c_detail %}

    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Employee Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td>User Name: {{ i.client_name |title}}</td>
                        <br>
                        <td>Employee Id: {{ i.client_id }}</td>
                        <br>
                        <td>Company: {{ i.company_name }}</td>
                        <br>
                        

                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Employee Photo
            </div>
            <div class="card-body">

                <img class="center" style="width:150px;height:150px;" src="{{i.image.url}}" alt="">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Personal Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td>NID : {{ i.nid }}</td>
                        <br>
                        <td>Contact Number: {{ i.phone }}</td>
                        <br>
                        <td>Email Address: {{ i.email }}</td>
                        <br>
                    </tr>
                </tbody>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        
        <a href=""> <button type="button"
                class="btn btn-outline-primary badge-pill ">Edit</button></a>
    </div>
    {% endfor %}
</div>
{% endblock body %}