{% extends "base.html" %}

{% block title %}
<title>Add</title>
{% endblock title %}

{% block body %}
  

  

   <section>
       <div class="row mb-2 mt-5">
           <div class="col-md-4 m-auto badge-info text-center p-2 badge-pill ">
               <h4>Create User For Employee</h4>
           </div>
       </div>
        <div class="row">
            <div class="col-md-6 m-auto">
                <form method="POST">
                    {% if msg %}
                    <p class="bg-danger text-center badge-pill p-md-2">{{ msg }}</p>
                    {% endif %}
                    {% csrf_token %}
                   
                    <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="username" name="username" class="form-control p-2 badge-pill" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter User Name" required>
                   
                    <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control p-2 badge-pill" id="exampleInputPassword1" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                    <label for="password">Conform Password</label>
                    <input type="password" name="cpassword" class="form-control p-2 badge-pill" id="exampleInputPassword1" placeholder="Conform Password" required>
                    </div>
                    
                    <button type="submit" class="btn btn-outline-primary badge-pill">Contiune</button>
                    <button type="reset" class="btn btn-outline-danger badge-pill">Reset</button>
                    
                    
                </form>
                
            </div>
        </div>
    </section>
        {% endblock body %}